importFrom("grDevices", "dev.new")
importFrom("graphics", "abline", "lines", "par", "plot", "points", "polygon")
importFrom("stats", "cor", "density", "lm", "lowess", "median", "optimize", "rnorm", "smooth", "var")
export(AddVariance)
export(AssignMAMBAC)
export(AssignMAXEIG)
export(CalculateCCFI)
export(CalculateCCFIs)
export(CalculateFitDensities)
export(CalculateKurtosis)
export(CalculateLModeCCFI)
export(CalculateMAMBAC)
export(CalculateMAXEIG)
export(CalculateMAXSLOPE)
export(CalculateSkew)
export(CalculateValidity)
export(CheckClassification)
export(CheckData)
export(CheckParameters)
export(ClassifyCases)
export(CreateData)
export(DisplayBaseRates)
export(DisplayCCFIs)
export(DisplayPanels)
export(DisplayProfiles)
export(DisplaySpecifications)
export(DisplayTextOutput)
export(EstimateLMode)
export(EstimateMAMBAC)
export(EstimateMAXEIG)
export(EstimateMAXSLOPE)
export(GenerateData)
export(PlotPanel)
export(ProcessProfile)
export(RemoveMissingData)
export(RunCCFIProfile)
export(RunFactorAnalysis)
export(RunLMode)
export(RunMAMBAC)
export(RunMAXEIG)
export(RunMAXSLOPE)
export(RunProcedures)
export(RunProceduresComp)
export(RunTaxometrics)
export(SummarizeDist)